
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
<title>Undercover Grandpa (2017) Watch Online Free - MovieFlixter</title>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Undercover Grandpa 2017 watch online for free, only HD streams without registration.">
<meta name="robots" content="index,follow">
<link rel="stylesheet" href="//static.movieflixter.to/css/foundation.min.css">
<link rel="stylesheet" href="//static.movieflixter.to/css/style.css?v=1.1.2">
<script type="text/javascript" src="//static.movieflixter.to/js/jquery.js"></script>
<script type="text/javascript" src="//static.movieflixter.to/js/jquery.autocomplete.js?v=1.01"></script>
<script type="text/javascript" src="//static.movieflixter.to/js/platform.js?v=1.0.1"></script>
<script type="text/javascript" src="//static.movieflixter.to/js/lib.js?v=1.0.2"></script>
</head>
<body>
<div id="kernel">
<div id="kernel_top">
<div id="header">
<form method="GET" action="/search">
<div class="wide row collapse">
<div class="large-4 columns">
<div class="logo_container">
<a href="/" title="MovieFlixter"><img src="//static.movieflixter.to/img/logo.png" width="245" height="92" alt="MovieFlixter"></a>
</div>
</div>
<div class="large-8 columns">
<div id="search_container">
<div class="input-group">
<input type="text" name="q" id="q" class="input-group-field" value="">
<div class="input-group-button">
<input type="submit" value="Find" class="postfix button">
</div>
</div>
</div>
</div>
</div>
</form>
</div>
<div class="wide row collapse">
<div id="small-title-bar" class="title-bar show-for-small-only" data-responsive-toggle="example-menu" data-hide-for="medium">
<button class="menu-icon" type="button" data-toggle></button>
<div class="title-bar-title">Menu</div>
</div>
<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
   <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
   <li><a href="/">Home</a></li>
<li>
<a href="#">Genres</a>
<ul class="menu vertical">
<li>
<small><a href="/genre/action">Action</a></small>
</li>
<li>
<small><a href="/genre/adventure">Adventure</a></small>
</li>
<li>
<small><a href="/genre/animation">Animation</a></small>
</li>
<li>
<small><a href="/genre/biography">Biography</a></small>
</li>
<li>
<small><a href="/genre/comedy">Comedy</a></small>
</li>
<li>
<small><a href="/genre/crime">Crime</a></small>
</li>
<li>
<small><a href="/genre/documentary">Documentary</a></small>
</li>
<li>
<small><a href="/genre/drama">Drama</a></small>
</li>
<li>
<small><a href="/genre/family">Family</a></small>
</li>
<li>
<small><a href="/genre/fantasy">Fantasy</a></small>
</li>
<li>
<small><a href="/genre/film-noir">Film-Noir</a></small>
</li>
<li>
<small><a href="/genre/game-show">Game-Show</a></small>
</li>
<li>
<small><a href="/genre/history">History</a></small>
</li>
<li>
<small><a href="/genre/horror">Horror</a></small>
</li>
<li>
<small><a href="/genre/music">Music</a></small>
</li>
<li>
<small><a href="/genre/musical">Musical</a></small>
</li>
<li>
<small><a href="/genre/mystery">Mystery</a></small>
</li>
<li>
<small><a href="/genre/news">News</a></small>
</li>
<li>
<small><a href="/genre/reality-tv">Reality-TV</a></small>
</li>
<li>
<small><a href="/genre/romance">Romance</a></small>
</li>
<li>
<small><a href="/genre/sci-fi">Sci-Fi</a></small>
</li>
<li>
<small><a href="/genre/short">Short</a></small>
</li>
<li>
<small><a href="/genre/sport">Sport</a></small>
</li>
<li>
<small><a href="/genre/talk-show">Talk-Show</a></small>
</li>
<li>
<small><a href="/genre/thriller">Thriller</a></small>
</li>
<li>
<small><a href="/genre/war">War</a></small>
</li>
<li>
<small><a href="/genre/western">Western</a></small>
</li>
</ul>
</li>
<li><a href="/movies/best-rated-popular">Popular Movies</a></li>
<li><a href="/movies/recently-added">Newest Movies</a></li>
<li><a href="/tv-series/recently-added">Newest TV Series</a></li>
<li><a href="/tv-series">TV Series</a></li>
<li><a href="/movies/coming-soon">Coming soon</a></li>
</ul>
  </div>
</div>
</div>
<div id="content">
<div class="wide row collapse">
<div class="large-16 columns">
<div class="row collapse">
<div class="large-13 columns">
<h1>Undercover Grandpa (2017) Free Watch</h1>
<div class="row collapse bg static">
<div class="large-5 medium-6 columns">
<div class="big_image">
<img src="//static.movieflixter.to/images/210/6/66/6637d948-09a6-5c90-b02f-fbb990db8aab.jpg" width="210" height="315" alt="Undercover Grandpa">
<div class="br5"></div>
<a href="/stream-in-hd/404636" title="Stream in HD" rel="nofollow" target="_blank" class="button nodec w210" id="sls"><i class="play"></i>Stream in HD</a>
<a href="https://adsrvmedia.adk2x.com/imp?p=74984542&ct=html&ap=1303" title="Download in HD" rel="nofollow" target="_blank" class="button nodec w210" id="sld"><i class="download"></i>Download in HD</a>
</div>
</div>
<div class="large-11 medium-10 columns">
<p class="desc">
When the girl he likes goes missing, Jake enlists the help of his grandpa and his WWII buddies.</p>
<div class="br15"></div>
<p class="desc">
Release Date: 2017</p>
<p class="desc">
Duration: 99 min
</p>
<p class="desc">
Genres:
<a href="/genre/action">Action</a>, <a href="/genre/comedy">Comedy</a>, <a href="/genre/family">Family</a></p>
<div class="br15"></div>
<p class="desc">
Director:
Erik Canuel</p>
<p class="desc">
Writer:
Jeff Schechter</p>
<p class="desc">
Stars:
Paul Sorvino, James Caan, Jessica Walter</p>
<div class="br15"></div>
<p class="desc">
IMDb: <a onclick="return derefer(this);" href="javascript:void(0);" name="http://www.imdb.com/title/tt3891538/" rel="nofollow" target="_blank">TT3891538</a>
</p>
<p class="desc">
Rating: 6.8/10
</p>
<div class="br5"></div>
<p class="desc">
<div class="stars right"><div class="active" style="width: 68%;"></div></div></p>
</div>
<div class="br10"></div>
</div>
<div class="br10"></div>
<div class="h1">Undercover Grandpa Streaming Video</div>
<table class="hover stream_links">
<tr><td>
<div style="position:relative;padding-bottom:56%;padding-top:20px;height:0;"><iframe src="http://videocloud.co/embed-v6eec48oibtj.html" frameborder=0 marginwidth=0 marginheight=0 scrolling=no allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div>
</td></tr>
</table><div class="h1">Undercover Grandpa Streaming Servers</div>
<table class="hover stream_links">
<tr>
<th align="left">Stream Link</th>
<th class="hide-for-small-only" align="left">Stream Server</th>
<th class="hide-for-small-only">Views</th>
<th class="hide-for-small-only" width="230">Link Rating</th>
<th></th>
</tr>
<tr>
<td nowrap>
<a href="/streaming/link?id=4032888" target="_blank"><img src="//static.movieflixter.to/img//domains/244.png                         " class="play16" alt="Play"><b>Version 1</b></a>
</td>
<td class="hide-for-small-only">
openload.co</td>
<td class="hide-for-small-only" align="center">
10</td>
<td class="hide-for-small-only light" align="center">
79% &nbsp;
7/10 &nbsp;
6/10
</td>
<td nowrap>
<a href="/streaming/link?id=4032888" target="_blank"><img src="//static.movieflixter.to/img/play_orange.png" class="play16" alt="Play">Play</a>
</td>
</tr>
<tr>
<td nowrap>
<a href="/streaming/link?id=4032889" target="_blank"><img src="//static.movieflixter.to/img//domains/39.gif                          " class="play16" alt="Play"><b>Version 2</b></a>
</td>
<td class="hide-for-small-only">
vidup.me</td>
<td class="hide-for-small-only" align="center">
4</td>
<td class="hide-for-small-only light" align="center">
70% &nbsp;
7/10 &nbsp;
7/10
</td>
<td nowrap>
<a href="/streaming/link?id=4032889" target="_blank"><img src="//static.movieflixter.to/img/play_orange.png" class="play16" alt="Play">Play</a>
</td>
</tr>
<tr>
<td nowrap>
<a href="/streaming/link?id=4032890" target="_blank"><img src="//static.movieflixter.to/img//domains/3.png                           " class="play16" alt="Play"><b>Version 3</b></a>
</td>
<td class="hide-for-small-only">
thevideo.me</td>
<td class="hide-for-small-only" align="center">
3</td>
<td class="hide-for-small-only light" align="center">
86% &nbsp;
8/10 &nbsp;
8/10
</td>
<td nowrap>
<a href="/streaming/link?id=4032890" target="_blank"><img src="//static.movieflixter.to/img/play_orange.png" class="play16" alt="Play">Play</a>
</td>
</tr>
<tr>
<td nowrap>
<a href="/streaming/link?id=4032893" target="_blank"><img src="//static.movieflixter.to/img//domains/1.png                           " class="play16" alt="Play"><b>Version 4</b></a>
</td>
<td class="hide-for-small-only">
vidto.me</td>
<td class="hide-for-small-only" align="center">
2</td>
<td class="hide-for-small-only light" align="center">
95% &nbsp;
7/10 &nbsp;
8/10
</td>
<td nowrap>
<a href="/streaming/link?id=4032893" target="_blank"><img src="//static.movieflixter.to/img/play_orange.png" class="play16" alt="Play">Play</a>
</td>
</tr>
<tr>
<td nowrap>
<a href="/streaming/link?id=4033920" target="_blank"><img src="//static.movieflixter.to/img//domains/39.gif                          " class="play16" alt="Play"><b>Version 5</b></a>
</td>
<td class="hide-for-small-only">
vidup.me</td>
<td class="hide-for-small-only" align="center">
2</td>
<td class="hide-for-small-only light" align="center">
82% &nbsp;
8/10 &nbsp;
6/10
</td>
<td nowrap>
<a href="/streaming/link?id=4033920" target="_blank"><img src="//static.movieflixter.to/img/play_orange.png" class="play16" alt="Play">Play</a>
</td>
</tr>
<tr>
<td nowrap>
<a href="/streaming/link?id=4032896" target="_blank"><img src="//static.movieflixter.to/img//domains/15.gif                          " class="play16" alt="Play"><b>Version 6</b></a>
</td>
<td class="hide-for-small-only">
cloudtime.to</td>
<td class="hide-for-small-only" align="center">
1</td>
<td class="hide-for-small-only light" align="center">
94% &nbsp;
7/10 &nbsp;
9/10
</td>
<td nowrap>
<a href="/streaming/link?id=4032896" target="_blank"><img src="//static.movieflixter.to/img/play_orange.png" class="play16" alt="Play">Play</a>
</td>
</tr>
<tr>
<td nowrap>
<a href="/streaming/link?id=4033919" target="_blank"><img src="//static.movieflixter.to/img//domains/8.png                           " class="play16" alt="Play"><b>Version 7</b></a>
</td>
<td class="hide-for-small-only">
vidzi.tv</td>
<td class="hide-for-small-only" align="center">
1</td>
<td class="hide-for-small-only light" align="center">
97% &nbsp;
8/10 &nbsp;
7/10
</td>
<td nowrap>
<a href="/streaming/link?id=4033919" target="_blank"><img src="//static.movieflixter.to/img/play_orange.png" class="play16" alt="Play">Play</a>
</td>
</tr>
<tr>
<td nowrap>
<a href="/streaming/link?id=4033922" target="_blank"><img src="//static.movieflixter.to/img//domains/244.png                         " class="play16" alt="Play"><b>Version 8</b></a>
</td>
<td class="hide-for-small-only">
openload.co</td>
<td class="hide-for-small-only" align="center">
1</td>
<td class="hide-for-small-only light" align="center">
72% &nbsp;
7/10 &nbsp;
7/10
</td>
<td nowrap>
<a href="/streaming/link?id=4033922" target="_blank"><img src="//static.movieflixter.to/img/play_orange.png" class="play16" alt="Play">Play</a>
</td>
</tr>
<tr>
<td nowrap>
<a href="/streaming/link?id=4033928" target="_blank"><img src="//static.movieflixter.to/img//domains/1.png                           " class="play16" alt="Play"><b>Version 9</b></a>
</td>
<td class="hide-for-small-only">
vidto.me</td>
<td class="hide-for-small-only" align="center">
1</td>
<td class="hide-for-small-only light" align="center">
69% &nbsp;
9/10 &nbsp;
9/10
</td>
<td nowrap>
<a href="/streaming/link?id=4033928" target="_blank"><img src="//static.movieflixter.to/img/play_orange.png" class="play16" alt="Play">Play</a>
</td>
</tr>
<tr>
<td nowrap>
<a href="/streaming/link?id=4033930" target="_blank"><img src="//static.movieflixter.to/img//domains/14.png                          " class="play16" alt="Play"><b>Version 10</b></a>
</td>
<td class="hide-for-small-only">
nowvideo.sx</td>
<td class="hide-for-small-only" align="center">
1</td>
<td class="hide-for-small-only light" align="center">
91% &nbsp;
9/10 &nbsp;
8/10
</td>
<td nowrap>
<a href="/streaming/link?id=4033930" target="_blank"><img src="//static.movieflixter.to/img/play_orange.png" class="play16" alt="Play">Play</a>
</td>
</tr>
<tr>
<td nowrap>
<a href="/streaming/link?id=4032891" target="_blank"><img src="//static.movieflixter.to/img//domains/10.png                          " class="play16" alt="Play"><b>Version 11</b></a>
</td>
<td class="hide-for-small-only">
vshare.eu</td>
<td class="hide-for-small-only" align="center">
</td>
<td class="hide-for-small-only light" align="center">
100% &nbsp;
6/10 &nbsp;
6/10
</td>
<td nowrap>
<a href="/streaming/link?id=4032891" target="_blank"><img src="//static.movieflixter.to/img/play_orange.png" class="play16" alt="Play">Play</a>
</td>
</tr>
<tr>
<td nowrap>
<a href="/streaming/link?id=4032898" target="_blank"><img src="//static.movieflixter.to/img//domains/8.png                           " class="play16" alt="Play"><b>Version 12</b></a>
</td>
<td class="hide-for-small-only">
vidzi.tv</td>
<td class="hide-for-small-only" align="center">
</td>
<td class="hide-for-small-only light" align="center">
71% &nbsp;
7/10 &nbsp;
7/10
</td>
<td nowrap>
<a href="/streaming/link?id=4032898" target="_blank"><img src="//static.movieflixter.to/img/play_orange.png" class="play16" alt="Play">Play</a>
</td>
</tr>
<tr>
<td nowrap>
<a href="/streaming/link?id=4032899" target="_blank"><img src="//static.movieflixter.to/img//domains/245.png                         " class="play16" alt="Play"><b>Version 13</b></a>
</td>
<td class="hide-for-small-only">
estream.to</td>
<td class="hide-for-small-only" align="center">
</td>
<td class="hide-for-small-only light" align="center">
87% &nbsp;
9/10 &nbsp;
6/10
</td>
<td nowrap>
<a href="/streaming/link?id=4032899" target="_blank"><img src="//static.movieflixter.to/img/play_orange.png" class="play16" alt="Play">Play</a>
</td>
</tr>
<tr>
<td nowrap>
<a href="/streaming/link?id=4033925" target="_blank"><img src="//static.movieflixter.to/img//domains/3.png                           " class="play16" alt="Play"><b>Version 14</b></a>
</td>
<td class="hide-for-small-only">
thevideo.me</td>
<td class="hide-for-small-only" align="center">
</td>
<td class="hide-for-small-only light" align="center">
72% &nbsp;
9/10 &nbsp;
8/10
</td>
<td nowrap>
<a href="/streaming/link?id=4033925" target="_blank"><img src="//static.movieflixter.to/img/play_orange.png" class="play16" alt="Play">Play</a>
</td>
</tr>
<tr>
<td nowrap>
<a href="/streaming/link?id=4033929" target="_blank"><img src="//static.movieflixter.to/img//domains/245.png                         " class="play16" alt="Play"><b>Version 15</b></a>
</td>
<td class="hide-for-small-only">
estream.to</td>
<td class="hide-for-small-only" align="center">
</td>
<td class="hide-for-small-only light" align="center">
91% &nbsp;
6/10 &nbsp;
6/10
</td>
<td nowrap>
<a href="/streaming/link?id=4033929" target="_blank"><img src="//static.movieflixter.to/img/play_orange.png" class="play16" alt="Play">Play</a>
</td>
</tr>
<tr>
<td nowrap>
<a href="/streaming/link?id=4033931" target="_blank"><img src="//static.movieflixter.to/img//domains/10.png                          " class="play16" alt="Play"><b>Version 16</b></a>
</td>
<td class="hide-for-small-only">
vshare.eu</td>
<td class="hide-for-small-only" align="center">
</td>
<td class="hide-for-small-only light" align="center">
92% &nbsp;
6/10 &nbsp;
8/10
</td>
<td nowrap>
<a href="/streaming/link?id=4033931" target="_blank"><img src="//static.movieflixter.to/img/play_orange.png" class="play16" alt="Play">Play</a>
</td>
</tr>
</table>
<div class="br15"></div>
<div class="row collapse" id="comments_add">
<div class="large-16 columns">
<script src='https://www.google.com/recaptcha/api.js' async defer></script>
<form method="POST" onsubmit="return checkComment(this);">
<input type="hidden" name="action" value="comment">
<fieldset>
<legend>Add comment</legend>
<label>
<span class="light">Name</span>
<div class="field">
<input type="text" name="nick" placeholder="Enter name" maxlength="30">
<span class="alert label hide" id="error_nick">Empty name</span>
</div>
</label>
<label>
<span class="light">Message</span>
<div class="field">
<textarea placeholder="Enter comment" name="comment" rows="3"></textarea>
<span class="alert label hide" id="error_comment">Empty message</span>
</div>
</label>
<label>
<span class="light">Verification code</span>
<div class="g-recaptcha" id="g-recaptcha" data-sitekey="6LfBbyUTAAAAAIqImwd4O769NG3y9KEs6DG1zLP3"></div>
<span class="alert label hide" id="error_recaptcha">Invalid code</span>
</label>
<label><input type="submit" class="button float-right" id="postnewcomment" value="Post comment →"></label>
</fieldset>
</form>
</div>
</div>
<div class="br15"></div>
<script type="text/javascript">
function checkComment(obj)
{
if (!obj || typeof obj !== 'object') {
return false;
}
var errors= 0;
var nick= $(obj).find('input[name=nick]').val().trim();
var comment= $(obj).find('textarea[name=comment]').val().trim();
var recaptcha = $('#comments_add :input[name=g-recaptcha-response]').val();
if (nick.length < 1) {
$(obj).find('input[name=nick]').focus();
$('#error_nick').removeClass('hide');
errors++;
} else {
$('#error_nick').addClass('hide');
}
if (comment.length < 1) {
$(obj).find('textarea[name=comment]').focus();
$('#error_comment').removeClass('hide');
errors++;
} else {
$('#error_comment').addClass('hide');
}
if (recaptcha.length == 0) {
$('#error_recaptcha').removeClass('hide');
errors++;
} else {
$('#error_recaptcha').addClass('hide');
}
if (errors > 0) {
return false;
}
return true;
}
</script>
</div>
<div class="large-3 columns right-column">
<div class="h1 bright"><small>Related Movies</small></div>
<div class="movie_cell">
<div class="top">
<div class="stars right"><div class="active" style="width: 68%;"></div></div>
<div class="year">(2017)</div>
</div>
<a href="/movie/undercover-grandpa-2017-watch-full-hd-404636" title="Undercover Grandpa"><img src="//static.movieflixter.to/images/140/6/66/6637d948-09a6-5c90-b02f-fbb990db8aab.jpg" width="140" height="210" alt="Undercover Grandpa"></a>
<div class="bottom">
<a href="/movie/undercover-grandpa-2017-watch-full-hd-404636" title="Undercover Grandpa">Undercover Grandpa</a>
</div>
</div>
<div class="movie_cell">
<div class="top">
<div class="stars right"><div class="active" style="width: 58%;"></div></div>
<div class="year">(2017)</div>
</div>
<a href="/movie/cut-shoot-kill-2017-watch-full-hd-404638" title="Cut Shoot Kill"><img src="//static.movieflixter.to/images/140/f/fb/fb23bda7-be6c-23b8-2744-05e623f2b2ae.jpg" width="140" height="210" alt="Cut Shoot Kill"></a>
<div class="bottom">
<a href="/movie/cut-shoot-kill-2017-watch-full-hd-404638" title="Cut Shoot Kill">Cut Shoot Kill</a>
</div>
</div>
<div class="movie_cell">
<div class="top">
<div class="stars right"><div class="active" style="width: 72%;"></div></div>
<div class="year">(2017)</div>
</div>
<a href="/movie/atomic-blonde-2017-watch-full-hd-404289" title="Atomic Blonde"><img src="//static.movieflixter.to/images/140/7/7d/7d453ca5-ba4d-4001-3dcb-70cd58345e36.jpg" width="140" height="210" alt="Atomic Blonde"></a>
<div class="bottom">
<a href="/movie/atomic-blonde-2017-watch-full-hd-404289" title="Atomic Blonde">Atomic Blonde</a>
</div>
</div>
<div class="br10"></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="kernel_bottom">
<div id="footer">
<div class="wide row collapse">
<div class="large-4 columns show-for-large">
<div class="logo_container">
<a href="/" title="MovieFlixter"><img src="//static.movieflixter.to/img/logo.png" width="245" height="92" alt="MovieFlixter"></a>
</div>
</div>
<div class="large-8 columns acenter">
<div class="br10"></div>
<a href="/contact-us">Contact Us</a> &nbsp;
<a href="/dmca">DMCA</a> &nbsp;
<a href="/disclaimer">Disclaimer</a>
</div>
<div class="large-4 columns aright">
<div class="br10"></div>
MovieFlixter &copy; 2017</div>
</div>
</div>
</div>
</div>
<script src="//static.movieflixter.to/js/what-input.js"></script>
<script src="//static.movieflixter.to/js/foundation.min.js"></script>
<script type="text/javascript">$(document).foundation();</script>
<script type="text/javascript">
$(window).load(function(){
$("#q").autocomplete({
serviceUrl: "/js/suggest/?t=Ox0RmhVQWxWNFpvTDBIR0o5YVZtYXJQOC9WSW5Bag==",
minChars: 2,
//groupBy: 'title',
autoSelectFirst: false,
triggerSelectOnValidInput: false,
preventBadQueries: false,
maxHeight: 1024,
transformResult: function(response, q) {
response = typeof response === 'string' ? $.parseJSON(response) : response;
return {
suggestions: $.map(response, function(it) {
if (it.value) {
return {value: it.value, data: it};
}
})
};
    },
    onSelect: function(item) {
if (item.data.url && item.data.url != '#') {
location.href = item.data.url;
}
return;
    }
});
});
</script>
<script type="text/javascript">var _Hasync= _Hasync|| [];
_Hasync.push(['Histats.start', '1,3808365,4,0,0,0,00010000']);
_Hasync.push(['Histats.fasi', '1']);
_Hasync.push(['Histats.track_hits', '']);
(function() {
var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
hs.src = ('//s10.histats.com/js15_as.js');
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
})();</script>
<noscript><a href="/" target="_blank"><img  src="//sstatic1.histats.com/0.gif?3808365&101" alt="counter free hit unique web" border="0"></a></noscript>
<script type="text/javascript">
var par = {url: "http://adsrvmedia.adk2x.com/imp?p=74984541&ct=html&ap=1303", desc: "Register FREE account and stream all movies on Movieflixter in HD!", mins: 60, method: "can", mob: "yes"}</script>
<script type="text/javascript" src="//static.movieflixter.to/js/mob.js?v=1"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57836a3abf6ed851"></script>
</body>
</html>